<%- include ("..\\partials\\head.ejs") %>
<%- include ("..\\partials\\header.ejs") %>
<%- include ("..\\partials\\posts.ejs") %>

<form method="post" action="">
    <label for="">Category</label>
    <input type="text" name="category" id="">
    <br>
    <label for="">Title</label>
    <input type="text" name="title" id="">
    <br>
    <input type="submit" value="Submit">
</form>

<%- include ("..\\partials\\footer.ejs") %>