.mercury{
    background-color: aqua;
}
.venus{
    background-color: aquamarine;
}
.earth{
    background-color: blue;
}
.mars{
    background-color: blueviolet;
}
.jupiter{
    background-color: burlywood;
}
.saturn{
    background-color: crimson;
}
.uranus{
    background-color: chartreuse;
}
.neptune{
    background-color: darkorange;
}